*{
  font-family: 'Manrope', sans-serif;

    
}


#navbarNav{

text-align: right;



}



.navjustify-content-end {

font-family: url(/Typography/Manrope-Bold.otf);
}

.bgmio{

background-color: #212529


}


.nav{

color: aliceblue;

font-family: url(/Typography/Manrope-Bold.otf);

}

.navlink{



  display: block;
        color: rgb(255, 255, 255);
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;

    
}
/*++++++++++++++++++++++++++
++++++++++++++++++++++++++ESTILO DE video de presentacion HEADER*/

.header2  {
  position: relative;
  background-color: black;
  height: 75vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
}

header video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

header .container {
  position: relative;
  z-index: 2;
}

header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.5;
  z-index: 1;
}

    /*************************************footer*/

.text-small {
  font-size: 0.9rem;
}

a {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}

a:hover, a:focus {
  text-decoration: none;
}

.form-control {
  background: #212529;
  border-color: #545454;
}

.form-control:focus {
  background: #212529;
}
.li-footer{

color: #48cae4;

}

.icon{

margin-right: 5%;

}

.btn-mio{

color: #ffffff;
background-color: #48cae4;
}
footer {
  background: #212529;
}    
    

  /****************fin footer
  /***************************  

    /* CARDS DE VISITAS 
  -------------------------------------------------- */
  .bd-placeholder-img {
    
    background-image: url(https://i.pinimg.com/originals/28/16/f6/2816f692dc4888bad749c2bcad818fda.jpg);
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    
  }
  
  
  .bd-placeholder-img1 {
    
    background-image: url(https://www.ruta0.com/pix/una-ruta.jpg);
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }
  
  .h1-1 {

    font-size: 4rem;
    font-weight:semibold;
    margin-left: 10px;

    color: #48cae4;
  
  
  }
  
  
  
  .p1-1 {
  
    font-weight: lighter;  
    color: white;
    margin-left: 0.5vw;
    border: none; 
    width: 40vw;
    text-align: justify;  
  
  
  }
  
  .p1-2 {
  
    font-weight: lighter;  
    color: white;
    
    border: none; 
    

  
  
  }
  
  .p1-3 {
  
    font-weight: lighter;  
    color: white;
    
    border: none; 
    

  
  
  }
  
  
  .p-boton{
  
  color: white;
  
  
  
  }
  
  
  
  /**********************************
  MEDIA QUERIES
  +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++/
  
/******++++++++++++++ HEADER +++++++++++++
******************************/
/*********HEADER
++++++++++/
/* Media Query  */

/* imagen instantanea */

@media (pointer: coarse) and (hover: none) {
  .header2 {
    background: url('https://source.unsplash.com/XT5OInaElMw/1600x900') black no-repeat center center scroll;
  }

  .header2 video {
    display: none;
  }
}


.ml {
margin-left: 20%;
}
.btm-mio {

background: #48cae4;
}

@media (min-width: 576px) and (max-width: 767px) {
  .responsive {
  background-image: url(/Img/smarth.png);

  }
  }

/*fin de video de presentacion*/

/*comienzo de video*/

.mr {

margin-right: 10%;



}


/* This pen */


.dark {
	background: #110f16;
}


.light {
	background: #f3f5f7;
}

:hover {
	text-decoration: none;
	transition: color 0.3s ease-in-out;
}

#pageHeaderTitle {
	margin: 2rem 0;
	text-transform: uppercase;
	text-align: center;
	font-size: 2.5rem;
}

/* Cards */
.postcard {
  flex-wrap: wrap;
  display: flex;
  
  box-shadow: 0 4px 21px -12px rgba(0, 0, 0, 0.66);
  border-radius: 10px;
  margin: 0 0 2rem 0;
  overflow: hidden;
  position: relative;
  color: #ffffff;
  

  }

	.dark {
		background-color: #18151f;
	}
	.light {
		background-color: #ffffff;
	}
	
	.t-dark {
		color: #000000;
	}
	
  a {
    color: inherit;
  }
	
	.h1 {
		margin-bottom: 0.5rem;
		font-weight: 500;
		line-height: 1.2;
	}
	
	.small {
		font-size: 80%;
	}

  .postcard__title {
    font-size: 1.75rem;
  }

  .postcard__img {
    max-height: 180px;
    width: 100%;
    object-fit: cover;
    position: relative;
  }

  .postcard__img_link {
    display: contents;
  }

  .postcard__bar {
    width: 50px;
    height: 10px;
    margin: 10px 0;
    border-radius: 5px;
    background-color: #48cae4;
    transition: width 0.2s ease;
  }

  .postcard__text {
    padding: 1.5rem;
    position: relative;
    display: flex;
    flex-direction: column;
  }

  .postcard__preview-txt {
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: justify;
    height: 100%;
  }

  .postcard__tagbox {
    display: flex;
    flex-flow: row wrap;
    font-size: 14px;
    margin: 20px 0 0 0;
		padding: 0;
    justify-content: center;
  }

    .tag__item {
      display: inline-block;
      background: #48cae4;
      color: #f3f5f7;
      border-radius: 3px;
      padding: 2.5px 10px;
      margin: 0 5px 5px 0;
      cursor: default;
      user-select: none;
      transition: background-color 0.3s;
  
  }






@media screen and (min-width: 769px) {
  .postcard {
    flex-wrap: inherit;
  }
    .postcard__title {
      font-size: 2rem;
    }

    .postcard__tagbox {
      justify-content: start;
    }

    .postcard__img {
      max-width: 300px;
      max-height: 100%;
      transition: transform 0.3s ease;
    }

    .postcard__text {
      padding: 3rem;
      width: 100%;
    }

    .media.postcard__text:before {
      content: "";
      position: absolute;
      display: block;
      background: #18151f;
      top: -20%;
      height: 130%;
      width: 55px;
    }
/*ajustar*/
    :hover .postcard__img {
      transform: scale(1.1);
    }



    
    
  }

@media screen and (min-width: 1024px){
		.postcard__text {
      padding: 2rem 3.5rem;
    }
		
		.postcard__text:before {
      content: "";
      position: absolute;
      display: block;
      
      top: -20%;
      height: 130%;
      width: 55px;
    }
	
  

/* COLORS */
.postcard .postcard__tagbox .green.play:hover {
	background: main-green;
	color: black;
}
.green .postcard__title:hover {
	color: main-green;
}
.green .postcard__bar {
	background-color:main-green;
}
.green::before {
	background-image: linear-gradient(
		-30deg,
		main-green-rgb-015,
		transparent 50%
	);
}
.green:nth-child(2n)::before {
	background-image: linear-gradient(30deg, main-green-rgb-015, transparent 50%);
}

.postcard .postcard__tagbox .blue.play:hover {
	background: main-blue;
}
.blue .postcard__title:hover {
	color: main-blue;
}
.blue .postcard__bar {
	background-color: main-blue;
}
.blue::before {
	background-image: linear-gradient(-30deg, main-blue-rgb-015, transparent 50%);
}
.blue:nth-child(2n)::before {
	background-image: linear-gradient(30deg, main-blue-rgb-015, transparent 50%);
}

.postcard .postcard__tagbox .red.play:hover {
	background: main-red;
}
.red .postcard__title:hover {
	color: main-red;
}
.red .postcard__bar {
	background-color: main-red;
}
.red::before {
	background-image: linear-gradient(-30deg, main-red-rgb-015, transparent 50%);
}
.red:nth-child(2n)::before {
	background-image: linear-gradient(30deg, main-red-rgb-015, transparent 50%);
}

.postcard .postcard__tagbox .yellow.play:hover {
	background: main-yellow;
	color: black;
}
.yellow .postcard__title:hover {
	color: main-yellow;
}
.yellow .postcard__bar {
	background-color: main-yellow;
}
.yellow::before {
	background-image: linear-gradient(
		-30deg,
		main-yellow-rgb-015,
		transparent 50%
	);
}
.yellow:nth-child(2n)::before {
	background-image: linear-gradient(
		30deg,
		main-yellow-rgb-015,
		transparent 50%
	);
}

@media screen and (min-width: 769px) {
	.green::before {
		background-image: linear-gradient(
			-80deg,
			main-green-rgb-015,
			transparent 50%
		);
	}
	.green:nth-child(2n)::before {
		background-image: linear-gradient(
			80deg,
			main-green-rgb-015,
			transparent 50%
		);
	}

	.blue::before {
		background-image: linear-gradient(
			-80deg,
			main-blue-rgb-015,
			transparent 50%
		);
	}
	.blue:nth-child(2n)::before {
		background-image: linear-gradient(80deg, main-blue-rgb-015, transparent 50%);
	}

	.red::before {
		background-image: linear-gradient(-80deg, main-red-rgb-015, transparent 50%);
	}
	.red:nth-child(2n)::before {
		background-image: linear-gradient(80deg, main-red-rgb-015, transparent 50%);
	}


		
	}
	.yellow:nth-child(2n)::before {
		background-image: linear-gradient(
		80deg,);					
		}
    /* RESPONSIVE CSS
  -------------------------------------------------- */  
  @media(min-width: 40em) {
    /* Bump up size of carousel content */
    .carousel-caption p {
      margin-bottom: 1.25rem;
      font-size: 1.25rem;
      line-height: 1.4;
    }
  
    .featurette-heading {
      font-size: 50px;
    }
  }
  
  @media (min-width: 62em) {
    .featurette-heading {
      margin-top: 7rem;
    }
  }
  /*Header de guias*/

  .bg-cover {
    background-size: cover;
}




/*
*
* ==========================================
estilos Nav 
* ==========================================
*
*
/***************GALERIA DESPEUS DEL HEADER
+++++++++++++++++++++++++++++++++++++++++*/
  @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
          .espe{
        justify-content: center;
        text-align: center;
            
        }
      }

.bg-mio{

background-color: #48cae4;

}

/*galería mapa responsive*/

@media (max-width:575px) {


.mapa {
  
  flex-direction: column;
  justify-content: center;
  width: 20px;
  height: 10px;

}
}
/*galeria de fotos guia*/

.close {
  font-size: 1.5rem;
}

.col-12 img {
  opacity: 0.7;
  cursor: pointer;
  margin: 2rem;
  width: 100%;
}

.col-12 img:hover {
  opacity: 1;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


/*+++++++++++++++FOOTER
******************************/



@media (max-width:575px){

  .footer{
    position: relative;
    bottom: 0px;
    background-color: #212529;
  }
  .main-content{
    flex-wrap: wrap;
    flex-direction: column;
  }
  .main-content .box{
    margin: 5px 0;
  }
  .icon{

    margin-right: 5%;
    
    }
    
    .btn-mio{
    
    color: #ffffff;
    background-color: #48cae4;

    }

  }
}