

/*Desktop*/

@media (min-with: 1024px){

}

/*Tablet*/

@media (min-width: 480px) and (max-width:1023px){

}

/*smathphone*/

@media (max-width: 479px){




    
}




/*Estilos generales*/
*{
    margin-left: 0;
    padding:0;
    font-family: "manrope";
    
    
    
    }
    
    body{
    
    width: 100%;
    height: 200vh;
    
    }
    
    
  
    
    /*grid por areas*/
    
    #grid-area{
    display: grid;
    
    /*estructura*/
    
    
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    grid-template-rows: 5fr 40fr 20fr 5fr;
    grid-template-areas:/*nombrar areas 1 columna 10 filas*/
    "header" /*columna1*/
    "productos"
    "servicios"
    "menu"
    "footer";   
    
    
    }
    

    /*Header*/
    
    header {
        grid-area: header;
        background-image: url(../Img/bsasbanner.png);
        

             


     }

    .vdr {

      margin-left: 10spx;
      padding-top: px;



     }


     ul {
        list-style-type: none;
       padding-top: 0px;
        overflow: hidden;
        
       
        
    }
    
    li {
        float:right;
    }
    
    li a {
        display: block;
        color: rgb(255, 255, 255);
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

    


    
    li a:hover:not(.active) {
        background-color: #48cae4;
    
    }




      /*galeriaSection*/ 

    
    #galerias {
        grid-area: productos;
        background-color: black;    
     }

     .divH2 {
        color:rgb(60, 228, 250);
        padding-top: 0px;
        margin: 25px;
        width: 750px;
        
        }

        .fonth2 {
 
            color: rgb(255, 255, 255);  
            font-weight: bold;
            font-size: 2rem;
 }

 div.gallery {
    margin: 25px;
    padding-top: 2px;
    border: none;
    float:left;
    width: auto;
    background-color: black;
    
  }
  
  div.gallery:hover {
    border: 1px solid rgb(60, 228, 250);
    background-color: rgb(0, 0, 0);
    color: rgb(60, 228, 250);
    font-weight: lighter;
  }
  
  div.gallery img {
    width: 90%;
    height: auto;
    margin-left: 15px;
    
  }
  
  div.desc {
    padding: 15px;
    text-align: center;
  }
  
/*youtubeGaleria*/






    #galeriayoutube{
        grid-area: servicios;
        background-image: url(../Img/buenosaires.png); 
              
     }

     
     
    #h2 {


      font-weight: bold;
      font-size: 3rem;
      text-align: center;
      
    
     
    
      color: #48cae4;
    
    
    
    }


    
    
    .p1 {
      color: rgb(190, 190, 190);
      font-weight: lighter;
      font-size: 1rem;
      
      text-align: justify;           
      padding-right: 20%; 
      padding-left: 20%;
     
       
    
    }

    .saltaimg{
display: flex;
  justify-content: center;
  

    }

    .sombra {

        box-shadow: 10px 10px 10px rgb(82, 82, 82)


    }
    
    #ubicacion{
        
        padding-left: 0rem; 
        display: flex;
        justify-content: center;
         
     }


.ubicacion{

    font-weight: bold;
        font-size: 1rem;
    color: #6d6d6d;
    padding-right: 1px;
   
}

.icono{
    
    justify-content: center;
  width: 30px;
  height: 40px;  
  margin-left: 10px
}





.map{
    display: flex;
  justify-content: center;
    

padding-top: 100px;




}





     footer {
        grid-area: menu;
        background: rgb(0, 0, 0);
        height: auto;
        padding-top: 20px;
        color: #fff;

      
     }
     .img-footer {

      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      text-align: center;
      padding-bottom: 0px;
    
    }
    
    .socials {
    
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      text-align: center;
      
      
    
    }
    
    
    .socialimg {
    
    margin-left: 10px;
    
    margin-right: 10px;
    
    }
    
    
    
    
    .footer-content{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
    }
    .footer-content h3{
        font-size: 2.1rem;
        font-weight: 500;
        text-transform: capitalize;
        line-height: 3rem;
    }
    .footer-content p{
        max-width: 500px;
        margin: 10px auto;
        line-height: 28px;
        font-size: 14px;
        color: #cacdd2;
    }
    