.h1-1 {

    font-size: 4rem;
    font-weight:semibold;
    margin-left: 10px;

    color: #48cae4;
  
  
  }
  
  
  
  .p1-1 {
  
    font-weight: lighter;  
    color: white;
    margin-left: 0.5vw;
    border: none; 
    width: 40vw;
    text-align: justify;  


}

.p1-2 {

    font-weight: lighter;  
    color: white;
    
    border: none; 
    



}

.p1-3 {

    font-weight: lighter;  
    color: white;
    
    border: none; 
    



}